body {
    background: url("../img/burgerbackground.jpg");
}

.headerTitle {
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;

}

.jumbotron {
    width: 50%;
    height: 15%;
    margin: auto;
    background-color: lightyellow;
}

.burgerDisplay {
    margin-top: 200px;
}

.availableBurgers {

    background-color: lightyellow;
    margin-left: 15%;
    text-align:center;
    padding: 15px;

}

.devouredBurgers {

    background-color: lightyellow;
    text-align: center;
    margin-left: 10%;
    margin-right: 15%;
    float: relative;
    padding: 15px;
}

.burgerDisplayTextHeader {
    text-align: center;
    margin: 15px;
    font-family: 'Gaegu', cursive;
}

.burgerForm {
    text-align: center;
    background-color: lightyellow;
    margin-top: 150px;
    margin-left: 13%;
    width: 75%;
    font-family: 'Gaegu', cursive;
    padding: 10px;


}

#buttonDevour {
    margin-left: 100px;
}

.burgerIcon {
    text-align: center;

}

.burgerOption {
    margin: 10px;
}

#addButton {
  margin-top:10px;
}
